.calc-body {
  width: 275px;
  margin: auto;
  margin-top: 110px;
  min-height: 400px;
  box-shadow: 0 8px 50px -7px black;
  background: #3a4655;
}

/* Calculator Display Screen */
.calc-screen {
  padding: 1rem;
  height: 50px;
  width: 243px;
}

#calc-operation {
  font-size: 1.3rem;
  text-align: right;
  color: #727b86;
  padding-bottom: 0.5rem;
}

#calc-typed {
  font-size: 2rem;
  text-align: right;
  color: #fff;
}

/* Calculator Buttons */
.calc-button-row {
  display: table;
}

.calc-button-row button {
  display: table-cell;
  width: 25%;
  background: #425062;
  color: #fff;
  height: 65px;
  font-size: 1.3rem;
  border: none;
  border-color: #3c4857;
  border-width: 1px 1px 0 0;
  border-style: solid;
}

.calc-button-row button.ac {
  color: #ff7665;
}

.calc-button-row button.opt {
  color: #ffbc56;
}

.calc-button-row button:nth-child(4n) {
  border-right: none;
}

.calc-button-row button:active {
  position: relative;
  top: 1px;
}

.calc-button-row button:hover {
  background: #cfd36f;
}
